@font-face {
    font-family: "fzbs";
    src: url("/fzbs.ttf") format("ttf");
}
body {
	background: url(/view/nexmoe/bg.svg) no-repeat center fixed; 
	background-size: cover;
    font-family: 'Times New Roman', 'fzbs';
}