@font-face {
    font-family: "fzbs";
    src: url("/fzbs.ttf") format("ttf");
}
body {
	background: url(/bg.svg) no-repeat center fixed; 
	background-size: cover;
    font-family: 'Times New Roman', 'fzbs';
}
@media print {
    .no-print, .no-print * {display: none !important;}
    .only-print {display: block !important;}
    .print {padding: 0;margin: auto;display: block;position: absolute;width: 800px;height: 800px;top: 0;bottom: 0;left: 0;right: 0;}
  }
h3 h4{
    text-align: center;
}
